build/*
*.user*
*.user
*.app
*.autosave
*.core
*.debug
*.embed.manifest
*.moc
*.o
*.obj
*.orig
*.prl
*.qm
*.rc
*.rej
*.res
*.so
*.so.*
*_resource.rc
*_wrapper.bat
*_wrapper.sh
*~
.#*
.DS_Store
*.qmake.cache
*.qmake.stash
moc_*.cpp
qrc_*.cpp
*.creator.user*
*.pro.user*
*.pyqtc.user*
*.qbs.user*
*.qmlproject.user*
*.kdev4
.kdev4/

# Project

